<a href="https://colab.research.google.com/github/BeyersNel/BeyersNel.github.io/blob/master/rainfall_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
dataRootUrl = 'https://raw.githubusercontent.com/BeyersNel/edsa-water-project/master/data/'
dfDam = pd.read_csv(dataRootUrl+'dam.csv', index_col='id')
dfRainfall = pd.read_csv(dataRootUrl+'rainfall.csv')
dfDam.head()

               name   latitude  longitude
id
1   STEENBRAS LOWER -34.180527  18.866688
2       DE VILLIERS -33.992584  18.411166
3             BIG 6 -33.982100  18.696134
4          WOODHEAD -33.977341  18.404046
5   STEENBRAS UPPER -34.166702  18.909760

# TESTING